<nav>
        <ul class="nav-list">
            <div class="nav-block">
                {% if user.is_authenticated %}
                    <li>Hello {{user}}</li>
                    <li><form action="{% url 'logout' %}" method="post">{%csrf_token%}<button class="btn btn-secondary" type="submit">Log out</button></form></li>
                    {% if user.is_superuser%}
                        <li><a href="{% url 'admin:index' %}">Admin Panel</a></li>
                        <li><a href="{% url 'django-admindocs-docroot' %}">Docs</a></li>
                    {% endif %}
                {% else %}
                <li><a class="btn btn-secondary" href="{% url 'login' %}">Log in</a></li>
                <li><a class="btn btn-secondary" href="#">Sign up</a></li>
                {% endif %}
                <hr>
            </div>
            <div class="nav-block">
                <li><a href="{% url 'gameplay:home' %}">Home</a></li>
                <li><a href="{% url 'gameplay:stories-list' %}">All Stories</a></li>
                <li><a href="{% url 'gameplay:create-story' %}">New Story</a></li>
                <hr>
            </div>
            <div class="nav-block">
                {% if request.session.last_character_id %}
                    <li><a href="{% url 'characters:character-sheet' request.session.last_character_id %}">Last Character Sheet</a></li>
                {% else %}
                    <li><a href="#" class="text-muted">Last Character Sheet</a></li>
                {% endif %}
                <li><a href="{% url 'characters:charactes-list' %}">All Charactes</a></li>
                <li><a href="{% url 'characters:character-create' %}">New Character</a></li>
                <hr>
            </div>
            <div class="nav-block">
                <li><a href="{% url 'worlds:worlds-list' %}">All Worlds</a></li>
                <li><a href="{% url 'worlds:world-create' %}">New World</a></li>
                <hr>
            </div>
            <div class="nav-block">
                <li><a href="{% url 'rules:assets-library' %}">Assets Library</a></li>
                <li><a href="{% url 'rules:move-reference' %}">Moves Reference</a></li>
                <hr>
            </div>
        </ul>
    </nav>