{% extends 'base.html' %}
{% load my_tags %}
{% load mathfilters %}

{%block content%}
<div class="bonds-page">
    <h3>{{character.name}} is bound to:</h3>
    <ul class="bonds-list">
    {% for bond in bond_list %}
        <li>
            <div>
                {{bond.description}}
            </div>
        </li>
    {%endfor%}
    </ul>
    <h4>Bonds Progress</h4>
        {% with filled_progess=character.bonds_progress|div:4 partial_amount=character.bonds_progress|modulo:4 %}
            {% include 'progress_track.html' %}
        {% endwith %}
    <a  href="{% url 'characters:add-bond' character.pk %}" class="ui-link">Forge a new Bond</a>
</div>
{%endblock%}