{% extends 'base.html' %}
{% load my_tags %}
{% load mathfilters %}

{%block content%}
<div class="bonds-page">
     <a class="btn btn-primary" href="{% url 'characters:character-sheet' character.id%}"><=Back to Char Sheet</a>
    <h3>{{character.name}} is bound to:</h3>
    <ul class="bonds-list">
    {% for bond in bond_list %}
        <li>
            {% if edit_id == bond.id %}
            <form method="post">
                {% csrf_token %}
                {{form.as_div}}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            {% else %}
            <div>
                {{bond.description}} <a class="ui-link" href="{% url 'characters:edit-bond' character.id bond.id %}">✏</a>
            </div>
            {% endif %}
        </li>
    {%endfor%}
    </ul>
    <h4>Bonds Progress</h4>
        {% with filled_progress=character.bonds_progress|div:4 partial_amount=character.bonds_progress|modulo:4 %}
            {% include 'components/progress_track.html' %}
        {% endwith %}
    <a  href="{% url 'characters:add-bond' character.pk %}" class="ui-link">Forge a new Bond</a>
</div>
{%endblock%}