<!-- THIS FILE IS AI GENERATED AND IS GUARANTEED TO  CONTAIN HALLUCINATIONS AND ARTIFACTS-->

{% extends "base.html" %}
{% block content %}
{% load my_tags %}
{% load mathfilters %}


<div class="sheet">

  <!-- HEADER -->
  <div class="header">
    <div class="character-name">
      <label>CHARACTER</label>
      <div class="line">{{ character.name }}</div>
    </div>

    <div class="experience">
      <label>EXPERIENCE</label>
      <div class="xp-dots">
        {% for i in "01234567890123456789" %}
          <span class="dot {% if forloop.counter <= character.experience %}filled{% endif %}"></span>
        {% endfor %}
        
      </div>
    </div>
  </div>

  <!-- MAIN GRID -->
  <div class="main">

    <!-- MOMENTUM -->
    <div class="momentum">
        <div class="momentum-label">MOMENTUM</div>
      {% for i in momentum_tracker %}
        <div class="tick {% if character.momentum == i %}active-momentum{% endif %}">
          {{ i }}
        </div>
      {% endfor %}
      <div class="tick momentum-extra">MAX <br>{{character.momentum_max}}</div>
      <div class="tick momentum-extra">RESET <br>{{character.momentum_reset}}</div>
      
    </div>

    <!-- CENTER -->
    <div class="center">

      <!-- STATS -->
      <div class="stats">
        <div class="stat">EDGE<br>{{ character.edge }}</div>
        <div class="stat">HEART<br>{{ character.heart }}</div>
        <div class="stat">IRON<br>{{ character.iron }}</div>
        <div class="stat">SHADOW<br>{{ character.shadow }}</div>
        <div class="stat">WITS<br>{{ character.wits }}</div>
      </div>

      <!-- BONDS -->
      <div class="section">
        <h3>BONDS</h3>
        <div class="progress-track">
          
          {% with full_boxes=character.bonds_progress|div:4 partial_amount=character.bonds_progress|modulo:4 %}
            {% for i in "0123456789" %}
              {% if forloop.counter <= full_boxes %}
                <span class="box filled"></span>

              {% elif forloop.counter == full_boxes|add:1 and partial_amount %}
                <span class="box semi-filled-{{ partial_amount }}">{{ partial_amount }}</span>

              {% else %}
                <span class="box"></span>
                
              {% endif %}
            {% endfor %}
          {% endwith %}
        </div>
        <p style="text-align: center;"><a  href="{% url 'characters:character-bonds-list' character.pk %}" class="ui-link">View Bonds</a></p>
      </div>

      <!-- VOWS -->
      <div class="section">
        <h3>VOWS</h3>
        {% for vow in character.vows.all %}
        <div class="vow">
          <div class="line vow-title">{{ vow.description }}</div>
          <div class="rank">
            {% for r in difficulty_tracker %}
              <span class="circle {% if vow.difficulty == forloop.counter %}filled{% endif %}"></span> <span class="difficulty-text">{{ r|upper }}</span>
            {% endfor %}
          </div>
          <div class="progress-track">
            {% with filled_progess=vow.progress|div:4 partial_amount=vow.progress|modulo:4%}
              {% for i in "0123456789" %}
                {%if forloop.counter <= filled_progess %}
                  <span class="box filled"></span>
                {% elif forloop.counter == filled_progess|add:1%}
                   <span class="box semi-filled-{{partial_amount}}">{{partial_amount}}</span>
                {% else %}
                <span class="box"></span>
                {% endif %}
              {% endfor %}
            {% endwith %}
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- DEBILITIES -->
      <div class="section">
       
        <h3>DEBILITIES</h3>
        <div class="debilites-grid">
          <div>
            <strong>CONDITIONS</strong>
            <br>
            {% for d in conditions_list %}
              <div class="debility-box check
                              {% if d in char_conditions %}
                                filled{% endif %}">
                              {{d}}
                              
              </div>
            {% endfor %}
          </div>
          <div>
            <strong>BANES</strong>
            <br>
            {% for d in banes_list %}
              <div class="debility-box check
                              {% if d in char_banes %}
                                filled{% endif %}">
                              {{d}}
                              
              </div>
            {% endfor %}
          </div>
          <div>
            <strong>BURDENS</strong>
            <br> 
            {% for d in burdens_list %}
              <div class="debility-box check
                              {% if d in char_burdens %}
                                filled{% endif %}">
                              {{d}}
                              
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- ASSETS -->
      <div class="section">
        <h3>ASSETS</h3>
        <div class="asset-flexbox">
          {% for asset in character.assets.all %}
          <div class="small-asset-card-wrapper">
            <div class="small-asset-card card">
              <div class="card-body">
                <h5>
                  <a href="#" class="ui-link">
                    {{asset.definition.title}}
                  </a>
                </h5>
              </div>
            </div>
            <div class="large-asset-card card asset-tooltip">
              <div class="card-body asset-card-body">
                <h5 class="card-title">{{asset.definition.title}}</h5>
                <p class="card-text">
                    <p>{{asset.definition.description}}</p>
                    {% for component in asset.components.all %}
                        <p>{{component.definition.title}}: <u>___{{component.value}}___</u></p>
                    {%endfor%}
                    <ul style="list-style: circle;">
                        {% for ability in asset.abilities.all %}
                            <li
                                {% if ability.is_active %}
                                    style="list-style: disc;"
                                {% endif %}>
                                    {{ability}}<br>
                                    {{ability.definition.description}}
                            </li>   

                        {%endfor%}
                    </ul>
                </p>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
        <p style="text-align: center;"><a  href="{% url 'characters:character-assets-list' character.pk %}" class="ui-link">View All</a></p>
      </div>

    </div>

    <!-- STATUS -->
    <div class="status">
      {% for label,value in statuses %}
        <div class="status-block">
          <div class="status-label">{{ label }}</div>
          {% for i in status_tracker %}
            <div class="tick {% if value == i %}
                    {% if label == 'HEALTH' %}
                        active-health
                    {% elif label == 'SPIRIT' %}
                        active-spirit
                    {% elif label == 'SUPPLY' %}
                        active-supply
                    {% endif %}
            {% endif %}">
              {{ i }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

  </div>
  {% load static %}
  <img
    src="{% static 'img/banner.png' %}"
    alt=""
    class="sheet-banner"
  />

</div>

{% endblock %}
