{% extends 'base.html' %}

{% block content %}
<h1>{{ character.name }}'s Character Sheet</h1>
<p>{{ character.description }}</p>
<p>Experience: {{character.experience}}</p>
<ul>
    <li>Edge: {{ character.edge }}</li>
    <li>Heart: {{ character.heart }}</li>
    <li>Iron: {{ character.iron }}</li>
    <li>Shadow: {{ character.shadow }}</li>
    <li>Wits: {{ character.wits }}</li>
</ul>
<ul>
    <li>Health: {{ character.health }}</li>
    <li>Spirit: {{ character.spirit }}</li>
    <li>Supply: {{ character.supply }}</li>
</ul>
<ul>
    <li>Momentum: {{character.momentum}}</li>
    <li>Max momentum: {{character.momentum_max}}</li>
    <li>Momentum reset: {{character.momentum_reset}}</li>
</ul>
<h3>Bonds</h3>
<p>{{ character.bonds_progress }}</p>
<ul>
{%for bond in character.bonds.all%}
    <li>{{bond.description}}</li>
{%endfor%}
</ul>


<h3>Vows</h3>
<ul>
    {%for vow in character.vows.all%}
    <li>{{vow.description}} - Difficulty: {{vow.get_difficulty_display}}</li>
    {%endfor%}
</ul>

<h3>Debilities</h3>
    <b>Conditions:</b>
        <ul>
            <li><s>Wounded</s></li>
            <li><s>Shaken</s></li>
            <li><s>Unprepared</s></li>
            <li><s>Encumbered</s></li>
        </ul>
    <b>Banes:</b>
        <ul>
            <li><s>Maimed</s></li>
            <li><s>Corrupted</s></li>
        </ul>
    <b>Burdens:</b>
        <ul>
            <li><s>Cursed</s></li>
            <li><s>Tormented</s></li>
        </ul>
{% endblock %}