<!-- THIS FILE IS AI GENERATED AND IS GUARANTEED TO  CONTAIN HALLUCINATIONS AND ARTIFACTS-->

{% extends "base.html" %}
{% block content %}
{% load my_tags %}
{% load mathfilters %}


<div class="sheet">

  <!-- HEADER -->
  <div class="header">
    <div class="character-name">
      <label>CHARACTER</label>
      <div class="line">{{ character.name }}</div>
      <div>{{character.description}}</div>
    </div>

    <div class="experience">
      <label>EXPERIENCE</label>
      <div class="xp-dots">
        <button class="exp-btn spend-exp-btn"> <a href="{% url 'characters:change-exp' character.id %}?action=spend" class="ui-link">X</a> </button>
        {% for i in "01234567890123456789" %}
          <span class="dot {% if forloop.counter <= character.experience %}filled{% endif %}">
            {% if forloop.counter <= character.spent_experience %}X{% endif %}
          </span>
        {% endfor %}
        <button class="exp-btn spend-exp-btn"><a href="{% url 'characters:change-exp' character.id %}?action=gain" class="ui-link">+</a></button>
      </div>
    </div>
  </div>

  <!-- MAIN GRID -->
  <div class="main">

    <!-- MOMENTUM -->
    <div class="momentum">
        <div class="momentum-label">MOMENTUM</div>
        <div class="tracker-control-buttons">
          <button><a href="{% url 'characters:change-resource' character.id %}?resource=momentum&action=down#momentum" class="ui-link" name="momentum">-</a></button> 
          <button><a href="{% url 'characters:change-resource' character.id %}?resource=momentum&action=up#momentum" class="ui-link" name="momentum">+</a></button>
        </div>
      {% for i in momentum_tracker %}
        <div class="tick {% if character.momentum == i %}active-momentum{% endif %}">
          {{ i }}
        </div>
      {% endfor %}
      <div class="tick momentum-extra">MAX <br>{{character.momentum_max}}</div>
      <div class="tick momentum-extra">RESET <br>{{character.momentum_reset}}</div>
      
    </div>

    <!-- CENTER -->
    <div class="center">

      <!-- STATS -->
      <div class="stats">
        <div class="stat">EDGE<br>{{ character.edge }}</div>
        <div class="stat">HEART<br>{{ character.heart }}</div>
        <div class="stat">IRON<br>{{ character.iron }}</div>
        <div class="stat">SHADOW<br>{{ character.shadow }}</div>
        <div class="stat">WITS<br>{{ character.wits }}</div>
      </div>

      <!-- BONDS -->
      <div class="section">
        <h3>BONDS</h3>
          {% with filled_progress=character.bonds_progress|div:4 partial_amount=character.bonds_progress|modulo:4 %}
            {% include "components/progress_track.html" %}
          {% endwith %}
        <p style="text-align: center;"><a  href="{% url 'characters:character-bonds-list' character.pk %}" class="ui-link">View Bonds</a></p>
      </div>

      <!-- VOWS -->
      <div class="section">
        <h3>VOWS</h3>
        {% for vow in character.vows.all %}

          <div class="vow" id="vow-{{vow.id}}">
            <div class="line vow-title">
              <span class="increase-progress-text">
                <a href="{% url 'characters:increase-progress' character.id %}?type=vow&id={{vow.id}}#vow-{{vow.id}}" name="vow-{{vow.id}}" class="ui-link">Reach a Milestone</a>
              </span>
              {{ vow.title }} 
              <span class="fullfill-vow-text">
                <a href="#vow-{{vow.id}}" class="ui-link">Fullfill Your Vow</a>
                </span>
            </div>
            <div class="rank">
              {% for r in difficulty_tracker %}
                <span class="circle {% if vow.difficulty == forloop.counter %}filled{% endif %}"></span> <span class="difficulty-text">{{ r|upper }}</span>
              {% endfor %}
            </div>
            {% with filled_progress=vow.progress|div:4 partial_amount=vow.progress|modulo:4%}
              {% include "components/progress_track.html" %}
            {% endwith %}
          </div>
        {% endfor %}
        <p style="text-align: center;"><a  href="{% url 'characters:vows-list' character.pk%}" class="ui-link">View Vows</a></p>
      </div>

      <!-- MINOR QUESTS -->
      
      <div class="section">
        <h3>QUESTS</h3>
        {% if character.quests.exists %}
          {% with quest=character.quests.last %}
              <div class="line vow-title">{{ quest.title }}</div>
              {% with filled_progress=quest.progress|div:4 partial_amount=quest.progress|modulo:4 %}
                {% include "components/progress_track.html" %}
              {% endwith %}
          {% endwith %}
        {% endif %}
        <p style="text-align: center;"><a  href="{% url 'characters:quests-list' character.pk %}" class="ui-link">Manage Quests</a></p>
      </div>
     
      <!-- DEBILITIES -->
      <div class="section">
       
        <h3>DEBILITIES</h3>
        <div class="debilites-grid">
          <div>
            <strong>CONDITIONS</strong>
            <br>
            {% for d in conditions_list %}
              <div class="debility-box check
                              {% if d in char_conditions %}
                                filled{% endif %}">
                              {{d}}
                              
              </div>
            {% endfor %}
          </div>
          <div>
            <strong>BANES</strong>
            <br>
            {% for d in banes_list %}
              <div class="debility-box check
                              {% if d in char_banes %}
                                filled{% endif %}">
                              {{d}}
                              
              </div>
            {% endfor %}
          </div>
          <div>
            <strong>BURDENS</strong>
            <br> 
            {% for d in burdens_list %}
              <div class="debility-box check
                              {% if d in char_burdens %}
                                filled{% endif %}">
                              {{d}}
                              
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- ASSETS -->
      <div class="section">
        <h3>ASSETS</h3>
        <div class="asset-flexbox">
          {% for asset in character.assets.all %}
          <div class="small-asset-card-wrapper">
            <div class="small-asset-card card">
              <div class="card-body">
                <h5>
                  <a href="#" class="ui-link">
                    {{asset.definition.title}}
                  </a>
                </h5>
              </div>
            </div>
            <div class="large-asset-card card asset-tooltip">
              {% include 'components/characterasset_cardbody.html' %}
            </div>
          </div>
          {%endfor%}
        </div>
        <p style="text-align: center;"><a  href="{% url 'characters:character-assets-list' character.pk %}" class="ui-link">View All</a></p>
      </div>

    </div>

    <!-- STATUS -->
    <div class="status">
      {% for label,value in statuses %}
        <div class="status-block">
          <div class="status-label">{{ label }} </div>
          <div class="tracker-control-buttons">
            <button><a href="{% url 'characters:change-resource' character.id %}?resource={{label|lower}}&action=down#{{label}}" class="ui-link" name="{{label}}">-</a></button> 
            <button><a href="{% url 'characters:change-resource' character.id %}?resource={{label|lower}}&action=up#{{label}}" class="ui-link" name="{{label}}">+</a></button>
          </div>
          {% for i in status_tracker %}
            <div class="tick {% if value == i %} active-{{label|lower}} {% endif %}">
              {{ i }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

  </div>
  {% load static %}
  <img
    src="{% static 'img/banner.png' %}"
    alt=""
    class="sheet-banner"
  />

</div>

{% endblock %}
