{% extends 'base.html' %}

{%block content%}
<div class="btn btn-primary add-asset-btn">
       <a href="{% url 'characters:character-sheet' character.pk %}"> <= Back to Char Sheet </a>
</div>
<div class="btn btn-primary add-asset-btn">
       <a href="{% url 'characters:add-asset' character.pk %}"> Add Asset </a>
</div>
<div class="asset-flexbox">
    {% for asset in assets_list %}
        <div class="large-asset-card card">
            {% include 'components/characterasset_cardbody.html' %}
            <a href="{% url 'characters:character-asset-edit' character.id asset.id %}" class="btn btn-secondary">Edit</a>
        </div>
        
    {%endfor%}
</div>
{%endblock%}